[submodule "week1_baseballGame"]
	path = week1_baseballGame
	url = https://github.com/oxdjww/woowa-precourse-1.git
	branch = main
[submodule "week2_racingCarGame"]
	path = week2_racingCarGame
	url = https://github.com/oxdjww/woowa-precourse-2.git
	branch = main
[submodule "week3_lotto"]
	path = week3_lotto
	url = https://github.com/oxdjww/woowa-precourse-3.git
	branch = main
[submodule "week4_lotto"]
	path = week4_lotto
	url = https://github.com/oxdjww/java-christmas-6-oxdjww
	branch = main
[submodule "week4_christmas"]
	path = week4_christmas
	url = https://github.com/oxdjww/java-christmas-6-oxdjww
	branch = main
